header.Hoa {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: black;
    background-image: url("../assets/img/header-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }